.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}

.ant-layout-sider-collapsed .custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

[data-theme="dark"] .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555;
}

[data-theme="dark"] .custom-scrollbar::-webkit-scrollbar-track {
  background: #2a2a2a;
}

body{
  height: 100%;
  width: 100%;
  position: fixed;
}